@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.screenHeight{
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
}
.desc-container{
  font-size: 10px;
  text-align: center;
  margin-top: 25px;
  padding: 10px;
  height: fit-content;
  width: 80%;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  
}

.result {
  position: absolute;
  top: 10px; 
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #007bff; /* Border color */
  border-radius: 5px; /* Rounded corners */
  background-color: #007bff; /* Background color */
  color: #ffffff; /* Text color */
}


.result:hover {
  background-color: #0056b3;
  border-color: #0056b3; 
  color: #ffffff; 
}

.result:active {
  background-color: #003f80; 
  border-color: #003f80; 
}



/* Styles for the form page */
body{
  /* background-image: url(sss.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* object-fit: cover;
  object-position: center; */
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #989ae3, #9599e5, #9299e7, #a18ce2, #b37cd9, #c56aca, #d555b6);
}
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);}

@media screen and (max-width:400px) {
  .form-container{
    margin: 50px 20px;
  }
 
}
.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 800;
  font-style:italic;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
.indexButton{
  width: 300px;
  padding: 10px;
  background-color: #4CAF50;  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the submit button on hover */
.form-container button:hover {
  background-color: #45a049;
  color: white;
 }
 

.gender{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.male,.female{
  width: 50%;
}
.male{
  padding-left: 6px;
}
.female{
  padding-left: 17px;
}
.swiper {
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card{
  height: 200px;

}
.card-conatiner{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  margin: auto auto;
  width: 400px;
  height: 190px;
  margin-bottom: 2rem;
  
}
.opt{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.br{
  color: #45a049;
}
h3{
  padding-bottom: 10px;
  text-align: center;

}
.opt-desc{
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
/* .swiper{
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

} */

h1{
  font-family: "Protest Riot", sans-serif;
  font-weight: 150;
  letter-spacing: 2px;
  font-style: normal;  color: white;
}

.qsnContainer{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  background-color: white;
}
h3{
  background-color: white;
}
.container{
  /* height: 300px; */
  width: 100%;
background-color: white;
border-radius: 6px;
text-align: center;
height: 245px;
/* margin: 5px; */
padding: 20px;
}

.slick-slide>div{
  margin: 0 10px;
}
.slick-slide{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn{
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 20px;

}

.navBar{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  color:  white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  font-family: "Protest Riot", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}


.btnContainer{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
img{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  
}

.indexContainer{
  height: fit-content;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

@media screen and (max-width:350px) {
  .form-container{
    margin: 50px 20px;
  }
 
}

}
.prevBtn{
  width: 15%;
  margin-right: 10px; 
}
.final-results{
  width:25%;
}
.nxtBtn{
  width: 15%;
}
.qsnTitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}
.qsn{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  height: 90px;
  font-size: 32px;
}
.ftr{
  /* From https://css.glass */
  display: flex;
  justify-content: center;
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
width: 100%;
text-align: center;
font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  padding: 5px;
}

/*Result page css*/
.resultPage{
  height: 92vh;
  display: flex;
  flex-Direction: column;
  justify-Content: center ;
  align-Items: center;
  text-Align: center;
}


/* 
@media screen  and (min-width:401px) {
  .leftPerson{
    padding: 15px;
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .rightPerson{
    padding: 15px;
    width: 15rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .resultDetails{
    height:55vh;
    width:50vw;
  }
  .resultDetails{
    height:45vh;
    width:60vw;
    display: flex;
    flex-Direction: column;
    justify-Content: center ;
    align-Items: center;
    text-Align: center;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px; 
    box-shadow: 0 0 10px rgba(113, 80, 80, 0.5);
   
  }
} */
/* @media screen and (min-width:550px) {
  .leftPerson{
    padding: 15px;
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .rightPerson{
    padding: 15px;
    width: 240px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .resultDetails{
    height:346px;
    width:378px;
    display: flex;
    flex-Direction: column;
    justify-Content: center ;
    align-Items: center;
    text-Align: center;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px; 
    box-shadow: 0 0 10px rgba(113, 80, 80, 0.5);
   
  }
} */



.resultDetails{
  height:386px;
  width:348px;
  display: flex;
  flex-Direction: column;
  justify-Content: center ;
  align-Items: center;
  text-Align: center;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px; 
  box-shadow: 0 0 10px rgba(113, 80, 80, 0.5);
 
}

.leftPerson{
  height: 148px;
  width: 240px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.rightPerson{
  height: 148px;
  width: 240px;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;

}

.p1pic{
  height: 98px;
  width : 92px;
}
.p2pic{
  height: 98px;
  width : 92px;
}

 .heart{
  height: 48px;
  width : 48px;
} 
.resultPage{
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  height: 40px;
  width: 215px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* width: 200px; */
  margin-right: 3px;
}

.resultsearchbtn{
  height: 50px;
  width: 50px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px; 
  font-size: 16px;
  cursor: pointer;
}


.heart{
  width: 3rem;
  height: 3rem;
}

.cnt{
margin-top: 1.4rem;
color: white;
font-size: 1rem;
padding: 10px;
}
.resultPageSearch{
  height: 107px;
  width: 359px;
  display: flex;
  flex-Direction: row;
  justify-Content: center ;
  gap: 0.3rem;
  align-Items: center;
  text-Align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  padding :5px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(113, 80, 80, 0.5); 
}

@media screen  and (max-width:400px) {
  .leftPerson{
    padding: 15px;
    width: 15rem;
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    align-items: center;
  /* gap: 15px; */
  }
  .rightPerson{
    padding: 15px;
    width: 15rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 15px; */
  }
  .resultDetails{
    height:50vh;
    width:60vw;
    display: flex;
    flex-Direction: column;
    justify-Content: center ;
    align-Items: center;
    text-Align: center;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 10px; 
    /* margin:5px; */
    box-shadow: 0 0 10px rgba(113, 80, 80, 0.5);
   
  }
  .resultPageSearch{
    height: 15%;
    width:52%;
    display: flex;
    flex-Direction: row;
    justify-Content: center ;
    gap: 0.3rem;
    align-Items: center;
    text-Align: center;
    border-radius: 10px;
    
    
    /* border: blue solid 3px; */
    /* margin:5px; */
    margin-bottom: 20px;
    padding :5px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(113, 80, 80, 0.5); 
  }
  .p1pic{
    height: 12vh;
    width : 15vw;
  }
  .p2pic{
    height: 12vh;
    width : 15vw;
  }
  
   .heart{
    height: 10vh;
    width : 10vh; 
  } 
  input[type="text"] {
    height: 35%;
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /* width: 200px; */
    margin-right: 3px;
  }
  .resultPageSearch{
    height: 15%;
    width: 70%;
    display: flex;
    flex-Direction: row;
    justify-Content: center ;
    gap: 0.3rem;
    align-Items: center;
    text-Align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    padding :5px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(113, 80, 80, 0.5); 
  }
  .resultsearchbtn{
    height: 50%;
    width: 20%;
    padding:5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px; 
    font-size: 16px;
    cursor: pointer;
  }
}